@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:100,200,300,400,500,600,700|Open+Sans:100,200,300,400,500,600,700');

.container {
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 0.5px;
    font-weight: 700;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
}

/*--------------------------------Navbar*/

.navbar {
    background-color: black;
}


/*--------------------------------Buttons*/

.btn-s {
    font-weight: bold;
    border-radius: 20px;
    width: 140px;
}

.btn-darkred {
    color: white;
    background-color: #ab3131;
    border-color: #ab3131;
}

.btn-darkred:hover,
.btn-darkred:active,
.btn-darkred:focus,
btn-darkred:active:focus {
    background-color:#8a1a1a;
    border-color: #8a1a1a;
    color: white;
}

.callout-container {
    height: 150vh;

    background: url("../images/woman.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: grayscale(100%);
}